<meta charset="UTF-8">
<link href="/css/style.css" rel="stylesheet">
<link href="/fontawesome/css/all.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %> | Blog Riga</title>
<script src="/reload/reload.js"></script>
<link rel="icon" type="image/png" href="/media/favicon.png"/>